.bg-primary {
    background: #CC95C0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.Encabezado{
    background-color: aquamarine;
}

.slide{
    margin-top: 10px;
}

.slide img{
    height: 65vh;
}

.slide img{
    position: relative;
    background-color: white;
    border: 3x gainsboro;
    border-radius: 5px;

}

.col{
    position: relative;
    background-color: white;
    color: black;
    border: 3x gainsboro;
    border-radius: 5px;
    margin-bottom: 20px;
}

.imagen{
    margin-top: 100px;
}

.imagen img{
    height: 100vh;
}


.text-center{
    margin-top: 10px;
}

.text-center img{
    height: 65vh; 
}

.Precio{
    color: crimson;
}


.prod1 img{
    height: 20vw;
}

.cardtitle{
    color: black;   
}

.cardtext{
    color: black;
}


.text-center1{
    color: crimson;
}

.btn-primary{
    color: pink;
}

.card{
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.accordionFlushExample{
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.card-title{
    color: black;
}

.carousel-control{
    color: black;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
     
}

.col img {
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

